@import "tailwindcss";

:root {
    --background: #e5e7e6;
    --foreground: #555555;
}

@layer base {
    html {
        @apply scroll-smooth;
    }
}

@layer components {
    .profile-ping {
        animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
    }

    .fade-in {
        animation: fadeIn 1s ease-in-out forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-50px) scale(0.95);
        }
        100% {
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
}

@theme {
    --font-display: "Gabarito", "sans-serif";
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-display);
}
